.container{    
    width:45%; 
    margin-left:34%; 
    
    height: auto;
    font-style:normal;
    /* color:grey; */
   
}
.wrk
{
    margin-top: 2%;
    width: 90%;
   
     /* margin-left:3%; */
     margin-right: 550px;
    
}

.bg-overlay3 {
    padding: 11px 0 20px;
    background-color: RGBA(15, 5, 20, 0.84);
}
