
<div class="banner10" id="banner">
    <div class="bg-overlay2">
        <br>
        <h2 style="text-align: center;">Welcome To Auction</h2>
        <br><br><br><br><br>

<div>

<div class="div2">
    <div style="margin-left: 650px;">
    <h4 style="text-align: left;"><b>Bidding id:</b> &nbsp; &nbsp;&nbsp; {{currentcrop.BiddingId}}<br></h4>
    <h4 style="text-align: left;"><b>CropType: </b> &nbsp; &nbsp;&nbsp; {{currentcrop.CropType}}<br></h4>
    <h4 style="text-align: left;"><b>CropName:</b>  &nbsp; &nbsp;&nbsp; {{currentcrop.CropName}}<br></h4>
    <h4 style="text-align: left;"><b>Quantity:</b>  &nbsp; &nbsp;&nbsp; {{currentcrop.Quantity}} Quintals<br></h4>
    <h4 style="text-align: left;"><b>Minimum Sale Price:</b>  &nbsp; &nbsp;&nbsp; {{currentcrop.InitialPrice}}<br></h4>
    <h4 style="text-align: left;"><b>Current Price:</b>  &nbsp; &nbsp;&nbsp; {{currentcrop.CurrentBidPrice}}<br></h4>
    <h4 style="text-align: left;"><b>BidCloseTime:</b>  &nbsp; &nbsp;&nbsp; {{currentcrop.BidCloseTime | date: "shortTime" }}<br></h4>
</div>
</div>
<br>
<div>
    <form #auctionplacebid="ngForm" (ngSubmit)="onSubmit(auctionplacebid)">
                        
        <div class="form-group">
            <label for="BidPrice">Enter Bid</label>
            <input #BidPrice="ngModel" type="number" class="form-control-input"
                [(ngModel)]=auctionprice.BidPrice id="BidPrice" name="BidPrice" required style="color:black">
        </div>
        <div class="item">
            <button type="submit" class="contact-button" style="background:green;">Submit</button>
        </div>

    </form>
</div>
</div>
<br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>