<!-- Contact -->
<div class="banner" id="banner">
    <div class="bg-overlay2">
<div class="contact" id="contact">
    <div class="container">
        <div>
            <div>
                <div class="text-center">
                    <h3>Sale History</h3>
                </div>
            </div>
            <div>
                <table class="table" border="1" style="border:1px solid black" cellspacing="0">
                    <thead>
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <th style="text-align: center;">  Date of Sale</th>
                        <th style="text-align: center;">Crop Name</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Minimum Sale Price</th>
                        <th style="text-align: center;">Final Price</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of sale">
                            <td>{{s.SaleDate| date:'shortDate'}}</td>
                            <td>{{s.CropName}}</td>
                            <td>{{s.Quantity}} Quintals</td>
                            <td>₹ {{s.MinSalePrice}}</td>
                            <td>₹ {{s.SoldPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>